In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Richards Bay,ZA,2021-10-19 18:15:17,-28.7830,32.0377,59.77,73,32,3.74
1,1,Albany,US,2021-10-19 18:13:10,42.6001,-73.9662,63.45,49,7,7.00
2,2,Punta Arenas,CL,2021-10-19 18:11:09,-53.1500,-70.9167,62.71,51,75,35.68
3,3,Atuona,PF,2021-10-19 18:10:31,-9.8000,-139.0333,78.39,75,26,21.00
4,4,New Norfolk,AU,2021-10-19 18:14:15,-42.7826,147.0587,39.90,71,22,2.30

In [12]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Atuona,PF,2021-10-19 18:10:31,-9.8000,-139.0333,78.39,75,26,21.00
6,6,Puerto Ayora,EC,2021-10-19 18:10:57,-0.7393,-90.3518,80.56,80,63,9.98
7,7,Acari,PE,2021-10-19 18:10:50,-15.4311,-74.6158,79.39,45,97,10.96
8,8,Isla Mujeres,MX,2021-10-19 18:15:19,21.2311,-86.7310,87.85,69,98,11.70
10,10,Eminabad,PK,2021-10-19 18:15:21,32.0422,74.2594,78.69,34,0,1.43
11,11,Vallenar,CL,2021-10-19 18:14:38,-28.5708,-70.7581,81.21,26,0,11.70
23,23,Belmonte,BR,2021-10-19 18:15:24,-15.8631,-38.8828,81.10,65,92,9.60
27,27,Manuk Mangkaw,PH,2021-10-19 18:15:25,4.8000,119.8500,83.35,75,100,7.78
31,31,Cururupu,BR,2021-10-19 18:12:30,-1.8283,-44.8683,89.19,50,77,8.14
33,33,Kapaa,US,2021-10-19 18:11:07,22.0752,-159.3190,75.18,86,20,12.66

In [27]:
preferred_cities_df.count()

City_ID       165
City          165
Country       163
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3          Atuona      PF     78.39  -9.8000 -139.0333
6    Puerto Ayora      EC     80.56  -0.7393  -90.3518
7           Acari      PE     79.39 -15.4311  -74.6158
8    Isla Mujeres      MX     87.85  21.2311  -86.7310
10       Eminabad      PK     78.69  32.0422   74.2594
11       Vallenar      CL     81.21 -28.5708  -70.7581
23       Belmonte      BR     81.10 -15.8631  -38.8828
27  Manuk Mangkaw      PH     83.35   4.8000  119.8500
31       Cururupu      BR     89.19  -1.8283  -44.8683
33          Kapaa      US     75.18  22.0752 -159.3190

In [30]:
#import google api key 
from config import g_key
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Atuona,PF,78.39,-9.8000,-139.0333,Villa Enata
6,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Acari,PE,79.39,-15.4311,-74.6158,HOSPEDAJE XIMENA
8,Isla Mujeres,MX,87.85,21.2311,-86.7310,Hotel La Joya Isla Mujeres
10,Eminabad,PK,78.69,32.0422,74.2594,Dara ch Imran sultan

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))